.DS_Store
node_modules
/dist
/bundle
/.html


# local env files
.env
.env.test.spa
.env.test.ssr
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
